*{
    margin: 0px auto;
    padding: 0px;
}
body{
    background: url("/img/pattern.png");
}

#content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera" 
    "contenido contenido contenido lateral"
    "pie pie pie pie"
    ;
    width: 100%;
    height: 1500px;
    margin: 0px auto;
    
}

#cabecera{
    display: grid;
    grid-area: cabecera;
    width: 90%;
}

#cabecera #logocompleto{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "texto logo";
    width: 50%;
    height: 50px;
    margin-top: 30px;
}

#cabecera #logocompleto h1{
    grid-area: texto;
    width: 60%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 315%;
    text-align: center;
    margin-top: 30px;
    margin-left: 20%;
    color: #00f6f3;
}

#cabecera #logocompleto a .logo{
    grid-area: logo;
    width: 43%;
    height: auto;
    margin-top: 12px;
    margin-left: 0%;
}

#cabecera #logocompleto a .logo:hover{
    color: white;
    
}

#header{
    width: 75%;
    height: 100px;
}

#cabecera #header #menu{
    width: 100%;
    height: 100%;
}

#cabecera #header #menu ul{
    display: grid;
    grid-template-columns: repeat(4,17%);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    list-style: none;
    margin-top: 15px;
}

#menu ul li a{
    color: black;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

#menu ul li a:first-child{
    margin-left: -45%;
}

#menu ul li a:hover{
    color: #00f6f3;
    font-size: 22px;
    border-bottom: 10px black;
}

#section{
    display: grid;
    grid-area: contenido;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 100px 600px 100px 600px 100px 600px;
    grid-template-areas: 
    "hotsale"
    "seccion-carrusel"
    "oferta"
    "seccion-oferta"
    "producto"
    "seccion-producto"
    "nosotros"
    "seccion-nosotros"
    ;
    width: 100%;
    height: 2600px;
}

#section #lo-mas-vendido-h3{
    grid-area: hotsale;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b75beb;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px #101010;
}

#section #carrusel{
    grid-area: seccion-carrusel;
    width: 90%;
    height: 100%;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px 0px 5px rgb(135, 135, 135) inset;
    overflow: hidden;
    background: rgb(237, 237, 237);
}

#section #carrusel .carrusel-items{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 85px;

}

#carrusel .carrusel-items .tarjeta-por-cuatro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 0px;

}


#carrusel .carrusel-items .flechas-items{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    justify-content: space-between;
    padding: 20px;

}

#carrusel .carrusel-items .flechas-items .boton-left{
    margin-left: -4%;
}

#carrusel .carrusel-items .flechas-items .boton-right{
    margin-left: 84%;
}

.card{
    width: 200px;
    height: 250px;
    float: right;
    margin-top: 25px;
    background: #b75beb;
    box-shadow: 1px -2px 5px rgb(95, 95, 95);
    border-radius: 0px 30px 0px 30px;
    margin-left: 3%;
}

.card .img-card{
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;

}

.card .img-card img{
    display: block;
    width: 100%;
    height: 100%;

}
.card p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: white;
}

.card span{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    color: white;
    
}
.card a{
    display: block;
    width: 50%;
    height: 33px;
    color: white;
    text-decoration: none;
    background-color: #00f6f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: -23px;
    text-align: center;
    padding-top: 5px;
    margin-left: 50%;
}

.card a:hover{
    
    cursor: pointer;
    color: black;
    box-shadow: 0px 0px 5px rgb(135, 135, 135) inset;
    border-radius: 7px;
    margin-top: -22px ;
}

#section #oferta-h3{
    grid-area: oferta;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b75beb;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px #101010;
}

#section #ofertas{
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#section #producto-h3{
    grid-area: producto;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b75beb;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px #101010;
}

#section #productos{
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}


#section #nosotros-h3{
    grid-area: nosotros;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b75beb;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px #101010;
}

#section #nosotros{
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}